/* wygląd elementu - ul */
aside > ul {
    list-style-type:none;
    margin:0;
    padding:0;
    border:1px solid #CCC;
    width:100%;
    box-shadow:0 6px 6px -6px rgb(187, 54, 54);
  }

  /* wygląd elementów - li */
aside >  ul li {
    border-top:1px solid #CCC;
  }

  /* wygląd pierwszego elementu - li */
aside >  ul li:first-child {
    border-top:none;
  }

  /* wygląd elementów - a */
aside >  ul li a {
    display:block;
    text-decoration:none;
    padding:10px;
    text-align:center;
    text-shadow:1px 1px 0 #FFF, 1px 2px 0 #AAA, 1px 2px 6px #AAA;
    color:#00A0AA;
    font-size:18px;
    border:1px solid #FFF;
    background:radial-gradient(ellipse at bottom, #FFF 0%, #DDD 100%);
    transition: width 3s;
  }

  /* wygląd elementu - a - w momencie najechania na niego kursorem myszki */
aside > ul li a:hover {
    color:#000;
    background-color:#fff;
    background:radial-gradient(ellipse at top, #FFF 0%, #DDD 100%);
    transition-timing-function: linear;
    width: 120%;
}